@import url('https://fonts.googleapis.com/css?family=Poppins:200;300;400;500;600;700;800;900&display=swap');


ion-icon {
  pointer-events: none;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif; 
}

:root{
   /*
   --c1: #ff9800;
   --c1: #ffc340;
   */
   --lg: 45deg, #0df8f9, #0D82F9;
   --c1: #0df8f9;
   --c2: #0D82F9;

   --blanco: #fff;
   --mainC: #303030;
   --negro:  #222;
   --negro2: #050505;
   --gris: #454546;
   --rgba: rgba(255, 255, 255, .25);
}

body{
   min-height: 100vh;
   overflow-x: hidden;
   background: var(--mainC);
   color: var(--blanco);
}

*::-webkit-scrollbar{
   width: 5px;

}

*::-webkit-scrollbar-thumb{
   background: linear-gradient(45deg, var(--c1), var(--c2));
   animation: text 5s linear infinite;
   border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
  background: var(--c1);
}

/* NavBar */

header{
   position: sticky;
   top: 0;
   background: var(--negro2);
   z-index: 30000;
   width: 100%;
}

html {
  scroll-behavior: smooth;
}

.nB{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px;
}

.nB h1{
   text-align: center;
   font-size: 2em;
   max-width: 200px;
   min-width: 125px;
   cursor: pointer;
}

.nB ul{
   display: flex;
   list-style: none;
}

.nB a{
   font-size: 1.4em;
   padding: 5px;
   text-decoration: none;
   color: var(--blanco);
   margin: 0 20px;
   border-radius: 10px;
   font-weight: 400;
   transition: .5s;
}

.nB a.selected{
   color: var(--c1);
   animation: text 2s linear infinite;
}

.nB a:hover{
   border-bottom: 2px solid var(--c1);
   color: var(--c1);
   animation: text 2s linear infinite;
}

.nav-icon{
   font-size: 2em;
   transform: translateY(5px);
   opacity: 1;
   visibility: hidden;
}

.hero{
   background: var(--negro2);
   position: relative;
}

.hero img{
   width: 100%;
   height: 530px;
   object-fit: cover;
   opacity: .45;
   animation: text 5s linear infinite;
}

/* Perfil */

.perfil div{
   position: absolute;
}

.perfil{
   display: flex;
   justify-content: center;
}

.cuadro{
   width: 320px;
   height: 450px;
   background: var(--gris);
   opacity: .75;
   z-index: 10;
   top: 70px;
   animation: animate 5s linear infinite;
}

.circulo-t{
   width: 290px;
   height: 290px;
   border-radius: 50%;
   z-index: 100;
   opacity: .6;
   top: 90px;
   background: linear-gradient(var(--lg));
   animation: animate 5s linear infinite;
}

.circulo{
   width: 245px;
   height: 245px;
   border-radius: 50%;
   z-index: 100;
   top: 113px;
   background: linear-gradient(var(--lg));
   animation: animate 5s linear infinite;
}

.img-perfil{
   top: 134px;
   z-index: 150;
}

.img-perfil img{
   width: 202px;
   height: 202px;
   border-radius: 50%;
}

.txt-name{
   font-size: 2em;
   top: 380px;
   z-index: 20;
}

.txt-type{
   font-size: 1.3em;
   top: 418px;
   z-index: 20;
   font-weight: 700;
}

.contact-icons{
   top: 450px;
   z-index: 20;
}

.contact-icons a{
   text-decoration: none;
   color: var(--blanco);
   margin: 0 10px;
   transition: .5s;

   background: -webkit-linear-gradient(var(--lg));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: text 5s linear infinite;
}

.contact-icons ion-icon{
   font-size: 1.9em;
   transform: translateY(5px);
}

.contact-icons a:hover{
   color: var(--c1);
}

.contact-icons a:hover ion-icon{
   transition: .5s;
   transform: translateY(10px) scale(1.5);
}

span{
   background: -webkit-linear-gradient(var(--lg));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: text 5s linear infinite;
}

/* Portfolio */

.portfolio h2{
   text-align: center;
   padding: 40px;
   padding-top: 80px;
   width: calc(100% + 10%);
   transform: translateX(-5%);
}

.port-grid{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(290px, auto));
   gap: 25px;
   width: 90%;
   margin: 0 auto;
}

.port-grid .proyecto{
   position: relative;
   margin: 0 auto;
}

.port-grid img{
   width: 100%;
   height: 100%;
   filter: grayscale(1);
   border-radius: 10px;
   transition: .5s;
   cursor: pointer;
   object-fit: cover;
   z-index: 1000;
}

.port-grid img:hover{
   transform: scale(1.1);
   filter: grayscale(0);
}

.port-grid .proyecto .info{
   position: absolute;
   left: -5%;
   background: var(--gris);
   color: var(--c1);
   width: calc(100% + 10.1%);
   padding: 10px;
   opacity: 0;
   bottom: -40px;
   transition: .5s;
   cursor: pointer;
   border-radius: 10px;
}
.port-grid .proyecto:hover .info{
   opacity: .8;
   bottom: -5%;
}

/* Skills */

.skill{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, auto));
   justify-content: center;
   gap:  170px;
   width: 90%;
   margin: 0 auto;
}

.skill h2{
   padding: 40px;
   padding-bottom: 80px;
   margin-top: 30px;
   width: calc(100% + 10%);
   transform: translateX(-5%);
}
.skill img{
   width: 100px;
   height: 100px;
}

.conocimientos{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(110px, auto));
   justify-content: center;
   gap:  25px;
}

.herramientas{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(70px, auto));
   justify-content: center;
   gap: 50px;
}

/* tooltip */

.skill h3{
   background: var(--negro2);
   text-align: center;
   border-radius: 5px;
   padding: 5px 0;
   font-size: 1.1em;
   width: 120px;
   transform: translate(-10px, -100px);
   opacity: 0;
   transition: .5s;
   box-shadow: 0 5px 20px var(--rgba);
   color: var(--c1);
   text-overflow: ellipsis;
   animation: text 5s linear infinite;
}

.skill h3::after{
   content: '';
   position: absolute;
   right:50px;
   top: 25px;
   width: 20px;
   height: 20px;
   background: var(--negro2);
   border-radius: 0% 100% 0% 100% / 100% 100% 0% 0%;
   transform: rotate(-45deg);
}

.conocimientos > div:hover h3,
.herramientas > div:hover h3{
   transform: translate(-10px, -160px);
   opacity: 1;
}


/* Modal */

.modal-container{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   z-index: 30000;
   top: 0;
   left: 0;
   transition: .5s;
   overflow: hidden;
   transform: translateY(-100px);

   opacity: 0;
   visibility: hidden;

}

.modal-container.open{
   transform: translateY(0);
}

.back{
   width: 100%;
   height: 100vh;
   background: red;
   position: fixed;
   background: var(--gris);
   opacity: .6;
   overflow: hidden;
}

.modal-content{
   width: 100%;
   max-width: 700px;
   min-height: 400px;
   height: 80%;
   overflow: hidden;
   overflow-y: auto;
   background: var(--mainC);
   box-shadow: 0 5px 15px var(--rgba);
   transition: .5s;
   position: relative;
}

#contact .modal-content{
   height: auto;
}

.modal-content h2{
   padding: 10px;
   background: var(--gris);
   padding-right: 45px;
   /*color: var(--c1);*/
   background: -webkit-linear-gradient(var(--lg));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: text 5s linear infinite;
}

.modal-content .back-head{
   background: var(--gris);
}

.header{
   position: sticky;
   top: 0;
}

.close{
   background: #f00;
   position: absolute;
   right: 10px;
   top: 8px;
   width: 40px;
   height: 40px;
   font-size: 2em;
   border: none;
   cursor: pointer;
   color: var(--blanco);
   transition: .5s;

}

.close:hover{
   background: #f5c1bb;
   color: #c72f1d;
}

.preview{
   width: 100%;
   justify-content: center;
   align-items: center;
   padding: 5px;
}

.preview img,
.preview video{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.content{
   padding: 10px;
}

.des p{
   font-size: 1.1em;
}

.link{
   padding: 80px 0 10px;
}

.link a{
   color: var(--blanco);
   margin: 10px;
   transition: .5s;
   font-size: 1.1em;
   text-decoration: none;
   font-weight: 400;
}

.link a:hover{
   opacity: .9;
   border-radius: 2px;
   color: var(--c1);
   animation: text 5s linear infinite;
}

.tec{
   margin-top: 10px;
}

.tec img{
   width: 50px;
   height: 50px;
   transition: .5s;
}

.tec img:hover{
   transform: scale(1.2);
}

.tec ion-icon{
   font-size: 2em;
   transform: translateY(10px);
}

.modal-container span{
   font-size: 1.5em;
}

#contact .content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.inputBx{
   position: relative;
   width: 100%;
   margin-bottom: 30px;
}

.inputBx input{
   width: 100%;
   padding: 20px;
   border: 2px solid var(--rgba);
   background: var(--negro);
   border-radius: 10px;
   color: var(--blanco);
   font-size: 1.3em;
   outline: none;
   transition: .5s;
}

.inputBx textarea{
   width: 100%;
   padding: 20px;
   border: 2px solid var(--rgba);
   background: var(--negro);
   border-radius: 10px;
   color: var(--blanco);
   font-size: 1.3em;
   outline: none;
   resize: none;
   transition: .5s;
}

.inputBx .sp{
   position: absolute;
   left: 0;
   padding: 20px;
   color: var(--blanco);
   pointer-events: none;
   font-size: 1.3em;
   transition: .5s;
   text-transform: uppercase;.
}

.inputBx input:valid ~ .sp,
.inputBx input:focus ~ .sp,
.inputBx textarea:valid ~ .sp,
.inputBx textarea:focus ~ .sp{
   color: var(--c1);
   transform: translate(20px, -7px);
   font-size: .85em;
   padding: 0 10px;
   background: var(--negro);
   border-left: 1px solid var(--c1);
   border-right: 1px solid var(--c1);
   letter-spacing: .2em;
   animation: text 5s linear infinite;
}

.inputBx input:valid,
.inputBx input:focus,
.inputBx textarea:valid,
.inputBx textarea:focus{
   border: 1px solid var(--c1);
   animation: text 5s linear infinite;

}

.content form{
   padding-top: 20px;
   width: 100%;
}

button{
   width: 100%;
   background: var(--blanco);
   border: none;
   font-size: 1.5em;
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
   letter-spacing: .3em;
   transition: .5s;
   text-transform: uppercase;
}

button:hover{
   background: linear-gradient(var(--lg));
   animation: text 5s linear infinite;
}

button ion-icon{
   transform: translate(5px, 5px);
}

footer{
   background: var(--negro2);
   text-align: center;
   align-items: center;
   justify-content: center;
   font-size: 1.8em;
   padding: 30ox;
   margin-top: 50px;
   font-weight: 700;
}

/* Responsive Desing */

@media screen and (max-width: 800px){
   
   .nB nav{
      display: none;
   }

   .nav-icon{
      opacity: 1;
      visibility: visible;
   }

   .modal-content{
      width: calc(100% - 20px);
   }

   nav.responsive{
      display: block;
      background: var(--negro2);
      opacity: .8;
      position: absolute;
      top: 42px;
      left: 0;
      padding: 10px 0;
      width: 100%
   }

   nav.responsive ul{
      display: block !important;
      text-align: center;
      width: 100%;
   }

   nav.responsive ul li{
      margin: 5px 0;
      width: 100%;
   }
}

/* Animaciones */

@keyframes animate{
   0%{
      filter: blur(5px) hue-rotate(0deg);
   }
   100%{
      filter: blur(5px) hue-rotate(360deg);
   }
}

@keyframes text{
   0%{
      filter: hue-rotate(0deg);
   }
   100%{
      filter: hue-rotate(360deg);
   }
}